.nav {
  display: flex;
  align-items: center;
}

.items {
  display: flex;
  color: #fff;
  gap: 40px;
}

.ctaButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 640px) {
  .nav {
    display: none;
  }
  .nav.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-text-unpainted);
    padding: 24px 16px;
  }

  .ctaButton {
    display: flex;
  }

  .close {
    position: absolute;
    top: 24px;
    right: 16px;
  }
}
