.thumbnail {
	width: 100%;
	height: auto;
	border-radius: var(--border-radius);
	margin: 24px 0;
}

.title {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 12px;
}

.description {
	color: var(--color-text-unpainted);
	margin-bottom: 16px;
}

.meta {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 16px;
}

.categoryLink {
	text-decoration: none;
}
