.container {
	display: flex;
	gap: 8px;
	margin-top: 24px;
}

.list {
	list-style: none;
}

.item {
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid var(--color-border-);
	border-radius: var(--border-radius);
}

.current {
	background-color: var(--color-current);
}
